# Dependências
node_modules/
package-lock.json

# Variáveis de ambiente
.env
.env.local
.env.docker

# Logs
*.log
logs/

# Build
dist/
build/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

/src/generated/prisma
